In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [2]:
# Load dataset
data = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
# Show first 5 rows
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Dataset information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
# Select useful columns
data = data[['Pclass', 'Age', 'Fare', 'Survived']]
# Remove missing values
data.dropna(inplace=True)
data.head()

   Pclass   Age     Fare  Survived
0       3  22.0   7.2500         0
1       1  38.0  71.2833         1
2       3  26.0   7.9250         1
3       1  35.0  53.1000         1
4       3  35.0   8.0500         0

In [5]:
# Independent variables (features)
X = data[['Pclass', 'Age', 'Fare']]
# Dependent variable (target)
y = data['Survived']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print("Training data size:", X_train.shape)
print("Testing data size:", X_test.shape)

Training data size: (571, 3)
Testing data size: (143, 3)

In [7]:
# Create model
model = LogisticRegression(max_iter=1000)
# Train model
model.fit(X_train, y_train)
print("Model trained successfully")

Model trained successfully

In [8]:
# Predict on test data
y_pred = model.predict(X_test)
y_pred[:10]

array([0, 1, 0, 1, 0, 1, 0, 0, 0, 0])

In [9]:
# Accuracy
accuracy = accuracy_score(y_test, y_pred)
print("Model Accuracy:", accuracy)
# Detailed report
print(classification_report(y_test, y_pred))

Model Accuracy: 0.6713286713286714
              precision    recall  f1-score   support

           0       0.70      0.80      0.75        87
           1       0.60      0.46      0.53        56

    accuracy                           0.67       143
   macro avg       0.65      0.63      0.64       143
weighted avg       0.66      0.67      0.66       143

# INSIGHTS FROM PREDICTIVE ANALYSIS:

1. Logistic Regression was used for binary classification.
2. Features such as passenger class, age, and fare influence survival.
3. The model achieved satisfactory accuracy on unseen test data.
4. Train-test split helped prevent overfitting.
5. This demonstrates how machine learning can be used for predictive analysis.